body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8b0404;
    color: #fffdfd;
    max-width: fit-content;
    max-height: fit-content;
}

html
{
    scroll-behavior: smooth;
}
  
header 
{
    background-color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
header a .logo 
{
    width: 200px;
    height: 50px;
}
  
nav ul 
{
    border-radius: 5px;
    border: #000000;
    list-style-type: none;
    margin: 0px;
    display: flex;
    padding: 10px 0px 10px 0px;

}
  
nav ul li 
{
    margin-left: 20px;

}
  
nav ul li a 
{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px;
}
  
nav ul li a:hover 
{
    background-color: #fffefe;
    color: #fe0000;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
  

  
h2 
{
    color: #333;
    font-size: 2rem;
    margin-top: 150px;
}
  
#Home 
{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.png);
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 8px;
    height: 80vh;
}
  
#Home h2 
{
    font-size: 5rem;
    color: white;
    margin-bottom: -10px;
}
  
#Home p 
{
    font-size: 1.2rem;
}
  
#Home button 
{
    padding: 10px 20px;
    background-color: rgb(148, 0, 0);
    border: none;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}
  
#Home button:hover 
{
    background-color: #ff0800;
    color: white;
}

#Gallery h3
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.slider-wrapper 
{
	position: relative;
	max-width: 70rem;
	margin: 0 auto;

}

.slider 
{
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 20px 20px 10px 10px hsl(0, 98%, 40%);
	border-radius: 30px;
	-ms-overflow-style: none; 
	scrollbar-width: none; 

}

.slider::-webkit-scrollbar 
{
	display: none;
}

.slider img 
{
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;

}

.slider-nav 
{
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a 
{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover 
{
	opacity: 1;
}

#Aboutus
{
    background-color: #000000;
    height: 100vh;
}

#Aboutus h2
{
    text-align: center;
    padding-top: 30px;
    color: white;
}

#Aboutus p
{
    text-align: center;
    margin: 40px;
}

.parentcontainer
{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.imgcontainer
{
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 1px 1px hsl(0, 100%, 50%);

}

.image 
{
    width: 180px;
    height: 400px;
    padding: 20px;
    background-color: rgb(118, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    margin: 30px;
}

.image img
{
    width: 100%;
    height: auto;
}

.img-text
{
    padding: 0px;
}

.img-text h4
{
    font-size: 28px;
    margin-bottom: 0px;
    color: #ffffff;
    text-align: center;
} 

.img-text p
{
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    text-align: center;

}

#ReportProblem
{
    background-color: #8b0404;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;     
    height: 100vh;         
    margin: 0;
}

#ReportProblem h1 
{
    font-size: 30px;
    margin-top: -40px;
}

.container {
    width: 80%;
}

.error-message {
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    width: 2000px;
    margin-right: 30px;  
}

.error-message p 
{
    margin: 0;
}

.contact-form-container {
    background-color: #000000;
    padding: 40px;
    border: 2px solid #f90000; /* Border for the form */
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
    box-shadow: 1px 1pc 1px 10px rgb(255, 2, 2);
}

.contact-form-container p {
    text-align: center;
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e10505;
}

}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: rgb(255, 255, 255);
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #ffffff;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.footerBottom
{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p
{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    }
    .socialIcons a
    {
        padding: 8px;
        margin: 4px;
    }
}